// .hello{
//     text-align: center;
// }

.Logo{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -70px;
    margin-left: 400px;
}
h1{
    text-align: center;
    padding-top:30px;
}
h2{
    text-align: center;
    padding-top:20px;
    padding-bottom: 15px;
}
hr{
    border-color: gray;
    border-width: 2px;
}